name: Move stale PRs to Draft

on:
  workflow_call:
    inputs:
      DAYS_THRESHOLD:
        type: number
        required: false
        default: 14

jobs:
  stale-prs:
    timeout-minutes: 60
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get stale pull requests
        run: |
          current_date=$(date +%s)
          threshold_date=$((current_date - DAYS_THRESHOLD * 86400))
          prs=$(gh pr list --state open --json 'title,updatedAt,url' --jq '.[] | select(.updatedAt | fromdateiso8601 < '"$threshold_date"')')
          echo "$prs" | jq -c -r '.url' | while read pr_url; do
            gh pr ready --undo $pr_url
          done
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
